<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="topnav">
    <div class="navbar-brand align-item-center d-flex">
      <div class="form-group">
        <!-- <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
          <span class="fas fa-search search-icon"></span>  
       </div> -->

       
    <div class="topnav-right">
      <span class = "loginlogoutlink">
        <a class = "loginlogoutlink-logout" routerLink="/login">LOGOUT</a>
    </span>
        <button routerLink="/cart" class="btn btn-secondary">
            <i class="fa fa-shopping-cart" style="font-size: 34px;"></i> 
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
         </button> 
    </div>
  
  </div>
  </div>

