.bg-img {
    /* The image used */
    background-image: url("src\assets\images\crtbg.JPG");
    height:455px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .bg{
      margin-top: 13%;
      margin-left: 36%;
      font-size: 20px;
      outline-color: black;
  }



.form-control {
    border-radius: 4px;
    width: 450px;
    margin-left: 45px;
    
}

/* .search-icon {
    position: absolute;
    z-index: 10;
    right: 22%;
    top: 19px;
    color: blue;
} */

/* Add a black background color to the top navigation */
.topnav {
    color: #f2f2f2;
   
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}




/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color:black;
  color:yellow
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  margin-left: 32%;

}