<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sl.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td><img style="width: 120px;" src="{{item.imagePath}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">{{item.price}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fa fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/product" class="btn btn-primary">Shop More</button></td>
                            <td><button routerLink="#" class="btn btn-success"><a routerLink="/payment">check out</a></button></td>
                            <td><strong>Grand Total : Rs.{{grandTotal}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length == 0">
    <div class="container">
        <div class="card">
            <!-- <h5 class="card-title" style="font-family: Poppins;">My Cart</h5> -->
            <div class="center" style="font-family: Poppins;">
            <!-- <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt=""> -->
            <img src="/assets/images/crtcart.png">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/product" class="btn btn-primary">Shop Now</button>
            </div>
        </div>
    </div>
</ng-container>
