<!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet> 
<!-- <app-cart></app-cart> -->
<!-- <app-product></app-product> -->
 <!-- <app-header></app-header> -->