<!-- <div class="products">
    <div class="product" *ngFor="let item of products">
        <mat-card>
            <p>{{item.title}}</p>
            <p>INR <strong>{{item.price}}</strong></p>
            <img src={{item.image}}>
            <button (click)="addToCart(item)">Add to cart</button>
        </mat-card>
    </div>
</div> -->
<app-header1></app-header1>
<div class ="bg-img">
    
    <!-- <app-banner></app-banner> -->
     <div class="row offset-md-1" style="margin-top: 50px;">
        <div class="col-md-3" *ngFor="let item of product" style="margin-top: 100px;">
    
            <div class="card" style="width:15rem;" >
                <!-- <div align="center"> -->
                <img class="card-image" [src]="item.imagePath" alt="Card Image Cap" style="width:240px; height:300px;" />
            <!-- </div>  -->
                <div class="card-body" style="width:10rem;">
                    <!-- <h3 class="card-title" style = "font-size: 15px;"> {{item.name}}</h3><br> -->
                    <!-- <h3 class="card-title" style = "font-size: 15px;"> {{item.description}}</h3> -->
    
                </div>
                <div class="card-bod" style="width:10rem;">
                    <!-- <h3 class="card-title" style = "font-size: 15px;"> {{item.name}}</h3><br> -->
                    <h3 class="card-title" style = "font-size: 15px;"> {{item.description}}</h3>
    
                </div>
    
                <div class="row">
                    <div class="col" style = "font-size: 15px;" >
                        <div>  {{item.price | currency:'INR'}} </div>
                    </div>
                    <div class="col">
                        <div> <button class="btn btn-primary" (click)="addtocart(item)" style = "font-size: 10px" > Add To Cart </button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>