<div class = "bg-img">
    <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3 class="animate-charcter"> <a routerLink="/header">Order Placed</a></h3>
          </div>
        </div>
      </div>
    </div>
    
