.bg-img {
    /* The image used */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpKTJj37cMPYKNtiY4N_RDG_a_ZlZvSOcN9IThQ-sto87PeSgi6nxq6fXr2MRVEJaPP14&usqp=CAU");
  
    /* Control the height of the image */
    height: 695px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }





.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}