<div class="bg-img">

  
  


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

 <header>
<div class="topnav">
  <div class="navbar-brand align-item-center d-flex">
       
     
  <div class="topnav-right">
      <a class = "active" routerLink="/product">products</a>
  </div>

</div>
</div>
</header>
<div class="bg">
  <h1>SPARE PARTS</h1>
</div>
</div>
